<!DOCTYPE html>
<html>
  <head>
    <title>Honesty</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Honesty</h1>
    <p>This page does not exist.</p>
  </body>
</html>
